---
---

@import "{{ site.theme }}";
th, td {
    text-align: left;
}
.nbtn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  &:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
  }

  + .nbtn {
    margin-left: 1rem;
  }
  + .pbtn {
    margin-left: 1rem;
  }

  @include large {
    padding: 0.75rem 1rem;
  }

  @include medium {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }

  @include small {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;

    + .nbtn {
      margin-top: 1rem;
      margin-left: 0;
    }
    + .pbtn {
      margin-top: 1rem;
      margin-left: 0;
    }
  }
}

.pbtn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-image: url("https://raw.githubusercontent.com/stefan-niedermann/paypal-donate-button/master/paypal-donate-button.png");
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  &:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    border-color: rgba(255, 255, 255, 0.3);
  }

  + .pbtn {
    margin-left: 1rem;
  }

  @include large {
    padding: 0.75rem 1rem;
  }

  @include medium {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }

  @include small {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;

    + .pbtn {
      margin-top: 1rem;
      margin-left: 0;
    }
  }
}

.resp {
    display: inline-block;
    + .resp {
        margin-left: 0.5rem;
    }
    @include small {
        display: block;
        width: 100%;
        + .resp {
            margin-top: 0.5rem;
            margin-left: 0;
    }
    }
}

#scrDrawing,
#scrDrawingAlg {
    padding: 0;
    margin: 0 auto;
    width: 70%;
    display: block;
}
.hide {
    display: none;
}