<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878"><meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="shortcut icon" type="image/x-icon" href="/SkewbSkills/favicon.ico" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" href='/SkewbSkills/6e63daad3f5bb32615972761568b04a0.ico/android-icon-192x192.png'/>
    <link rel="apple-touch-icon" href='/SkewbSkills/6e63daad3f5bb32615972761568b04a0.ico/apple-icon-180x180.png'/>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <!--<link rel="apple-touch-icon" sizes="57x57" href="/SkewbSkills/6e63daad3f5bb32615972761568b04a0.ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/SkewbSkills/6e63daad3f5bb32615972761568b04a0.ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/SkewbSkills/6e63daad3f5bb32615972761568b04a0.ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/SkewbSkills/6e63daad3f5bb32615972761568b04a0.ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/SkewbSkills/6e63daad3f5bb32615972761568b04a0.ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/SkewbSkills/6e63daad3f5bb32615972761568b04a0.ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/SkewbSkills/6e63daad3f5bb32615972761568b04a0.ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/SkewbSkills/6e63daad3f5bb32615972761568b04a0.ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/SkewbSkills/6e63daad3f5bb32615972761568b04a0.ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/SkewbSkills/6e63daad3f5bb32615972761568b04a0.ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/SkewbSkills/6e63daad3f5bb32615972761568b04a0.ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/SkewbSkills/6e63daad3f5bb32615972761568b04a0.ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/SkewbSkills/6e63daad3f5bb32615972761568b04a0.ico/favicon-16x16.png">-->
    <link rel="manifest" href="/SkewbSkills/6e63daad3f5bb32615972761568b04a0.ico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/SkewbSkills/6e63daad3f5bb32615972761568b04a0.ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="https://www.paypal.me/hugacuba" class="btn">
        <img src="https://raw.githubusercontent.com/stefan-niedermann/paypal-donate-button/master/paypal-donate-button.png" alt="Donate with PayPal" style="height: 1.0rem"/></a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
